@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  box-sizing: border-box;
}
body{
  margin: 0;
}
.site-title{
  font-size: 2rem;
}
.nav{
  background-color: #B76E79;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}
.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;


}
.nav a {
  color: inherit;
  text-decoration: none;

}
.nav li.active{
  background-color: #555;
}

.nav li:hover{
  background-color: antiquewhite;
}


/* ------------------------------- Dropdow ----------------------*/
.dropdown {
  position: relative;
  display: inline-block;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #E0BFB8;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown p{
  text-align: center;
  
}